service cloud.firestore {
  match /databases/{database}/documents {
    
    // only admin can write via api
    match /tenants/{tenant} {
			allow write: if false;    
      allow read: if request.auth != null && request.auth.uid != null && request.auth.token != null && request.auth.token.tenant == tenant;
    }
    
    // only admin can write via api
    match /tenants/{tenant}/{document=**} {
			allow write: if false;
      allow read: if request.auth != null && request.auth.uid != null && request.auth.token != null && request.auth.token.tenant == tenant;
    }
  }
}